.navbar {
    background-color: #603a18; 
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9d342; 
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 2rem;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #f9d342; 
    font-size: 28px;
}

.navbar-item a:hover {
    color: #d4a30d; 
}

@media (max-width: 700px) {
    .navbar-item a {
        font-size: 23px;
    }
}