/* src/Navbar.css */

.navbar {
    background-color: #603a18; /* Dark brown color */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9d342; /* Gold color */
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #f9d342; /* Gold color */
    font-size: 18px;
}

.navbar-item a:hover {
    color: #d4a30d; /* Darker gold for hover effect */
}
